{% extends "base.html" %}

{% block naslov %} Glavna stran {% endblock %}


{% block vsebina %}

<div class="jumbotron">
    <h1> Ninja Tech Forum </h1>
    <p>Welcome to Ninja Tech Forum. Coming soon! </p>
</div>



  <table class="table table-hover table-responsive" id="forum-table">
    <thead>
      <tr>
        <th> Title:</th>
        <th> Updated: </th>
        <th> Author Email: </th>
      </tr>
    </thead>
    <tbody>
{% for topic in topics|sort(attribute='created', reverse = True) %}

      <tr>
          <td> <a href="/topic-details/{{ topic.key.id() }}"> {{ topic.title }}</a></td>
          <td> {{ topic.updated }} </td>
          <td> {{ topic.author_email }} </td>
      </tr>

{% endfor %}
    </tbody>
  </table>


{% endblock %}


{% block script %}

    <script type="text/javascript" charset="utf8" src="/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="/assets/datatables/js/dataTables.bootstrap.min.js"></script>


<script>
$(document).ready( function () {
    $('#forum-table').DataTable();
} );
</script>



{% endblock %}